.layout{
    min-width: 1200px;
    .ant-layout-header{
        color:'red';
        background-color:#ec4141;
    }
    .ant-layout-sider-children{
        background-color: #ffffff;//#f6f6f8
        border-right: 1px solid #e5e5e5;
    }
    .ant-layout-content{
        background-color: #fff;
        margin-top: 64px;
        // height: calc(100vh - 64px - 70px - 64px );
        overflow: auto;
        position: relative;
       /deep/ .drawer {
           height: 660px;
       } 
    }
    .ant-layout-footer{
        padding: 0;
        background-color: #f6f6f8;//#f6f6f8
    }
}
.play-list{
    .title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .count{
            width: 100%;
            font-size: 16px;
            display: flex;
            margin-top: 10px;
            .total{
                flex: 2;
            }
            justify-content: space-between;
            .c-r{
                cursor: pointer;
                flex: 1;
                display: flex;
                justify-content: space-between;
            }
        }
        .tabs-box{
            width: 240px;
            display: flex;
            border: 1px solid #bbbbbb;
            border-radius: 15px;
            div {
                text-align: center;
                padding: 6px 10px;
                 border-radius: 15px;
                 font-size: 12px;
                 cursor: pointer;
                &:nth-child(1) {
                    flex: 1;
                }
                &:nth-child(2) {
                     flex: 1;
                }
                &.active{
                     background-color: #bbbbbb;
                     color: #fff;
                }
            }
        }
    }
    .list{
        .ant-table-wrapper{
            cursor: pointer;
            .ant-table-tbody{
                td{
                    padding: 16px 5px;
                    .song-name{
                        display: flex;
                        align-items: center;
                         .anticon-caret-right {
                             color: #ec4141;
                             font-size: 16px;
                             margin-right: 5px;
                         }
                    }
                   
                }
            }
        }
    }
    
}
