.rank{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .rank-lists{}
    .global{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}