.redio{
    .icon-list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .swiper-box{
            position: relative;
         .anticon-right {
            position: absolute;
            right: 15px;
            font-size: 35px;
            top: 60px;
            cursor: pointer;
        }
        .anticon-left{
            position: absolute;
            left: 15px;
            font-size: 35px;
            top: 60px;
            cursor: pointer;
        }
        }
    }
    .listen{
        display: flex;
        justify-content: center;
        margin: 30px 0;
        .listen-list{
            display: flex;
            justify-content: space-between;
        }
    }
}