.sider{
    .sider-path{
        margin: 5px 10px;
        padding-left: 10px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        a{
             font-weight: 500;
             color: #000;
             display: inline-block;
             width: 100%;
        }
    }
}