.wyy-header{
    display: flex;
    justify-content: space-between;
    .header-left{
        display: flex;
        flex: 3;
        align-items: center;
        .fnc-cpm{
            display: flex;
            align-items: center;
            .left-icon , .right-icon{
                font-size: 25px;
                background-color: #ec4141;
                color: #fff;
                padding: 0 5px;
                cursor: pointer;
            }
            .ant-input-search{
                margin-left: 30px;
                
            }
        }
    }
    .header-right{
        flex: 1;
       .user-status{
           padding: 0 10px;
           color: #fff;
           cursor: pointer;
       }
    }
}
.qr-code{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .tips {
        margin: 20px 0;
        span {
            color: #4594d0;
        }
    }
    .trigger{
        cursor: pointer;
    }
}
.normal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .ant-form{
      .ant-btn{
          background-color: #ec4141;
          border-color: #ec4141;
          width: 100px;
      }
    }
    .trigger{
        cursor: pointer;
    }
}
.ant-popover-placement-bottom{
    width: 200px;
    top: 55px !important;
    .ant-popover-arrow{
        display: none;
    }
    .ant-popover-inner-content{
        .quit-btn{
            display: flex;
            flex-direction: column;
            .ant-btn{
                margin: 10px 0;
            }
            button{
                &:nth-child(2){
                    background-color:#ec4141;
                    border-color: #ec4141;
                }
            }
        }

    }
}

    .ant-layout-header {

        height: 64px !important;
    }
