.rectangle-priture {
    margin-bottom: 50px;
    color: red;
    &:last-child {
        margin-right: 0px !important;
    }

    .img-box {
        .ant-image {
            .ant-image-img {
                border-radius: 5px;
            }
        }
    }
}