.music-details{
    padding: 15px 20px;
    height: 210px;
    .music-recommend{
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
    .top{
        display: flex;
        align-items: center;
        .text{
            h2{
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
    .bottom{
        margin-left: 20px;
        .ant-btn{
            background-color: #ec4141;
            color: #Fff;
        }
    }
}
}